.testTimonial {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  cursor: pointer;
  transition:  all ease .55s;
}
.testTimonial:hover {
    color: var(--sec-color) !important;
    background-color: var(--main-color) !important;
}
.testTimonial:hover h6 , .testTimonial:hover p{
    color: var(--sec-color) !important;
}
.testTimonial:hover .quote{
    background-color: var(--sec-color);
    color: var(--main-color);
}
.img-test img{
    width: 120px;
    height: 120px;
}
.img-test .quote {
position: relative;
  right: 0px;
  bottom: 0;
  border-radius: 50%;
  color: var(--sec-color);
  background: var(--main-color);
  padding: 12px;
  transition:  all ease .55s;
}

.img-test svg {
  font-size: 20px;
}
