.home{
    background: url(../img/hero.webp) no-repeat  fixed ;
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
    background-position: 50%;
    
}
.home h1{
    letter-spacing: 2px;
}
.home h5{
    letter-spacing: 1px;
}

